/* :root 负责变量 */
/* 定义全局使用的 css 变量 */
:root {
}

html {
  /* 使用 rem 实现响应式布局 */
  // 1920 pc
  font-size: 15px;
  // 1920/1.25 = 1536
  @media (max-width: 1600px) {
    font-size: 13px;
  }
  // 1920/1.5 = 1280
  @media (max-width: 1300px) {
    font-size: 11px;
  }
  // 1920/1.75 = 1097
  @media (max-width: 1100px) {
    font-size: 9px;
  }

  // pad
  @media (max-width: 769.33px) {
    font-size: 15px;
  }

  // mobile
  @media (max-width: 420px) {
    font-size: 14px;
  }
  @media (max-width: 380px) {
    font-size: 13.2px;
  }
  @media (max-width: 321px) {
    font-size: 12.5px;
  }
}

body {
  min-height: 100vh;
  background-color: #0a0a0a;
  font-family: system-ui, "PingFang SC", "Source Han Sans SC", "Helvetica Neue",
    Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
}

/* 重置 input textarea 默认样式，后续使用时需要对 focus 状态特殊处理 */
input,
textarea {
  outline: none;
  border: none;
}

/* 以下为控制整体渲染移动端还是 pc 端样式的工具类 */
.only-big {
  // 加此类名表示该元素只在 pc 端显示
  @media (max-width: 769.33px) {
    display: none !important;
  }
}
.only-small {
  // 加此类名表示该元素只在移动端显示
  @media (min-width: 769.33px) {
    display: none !important;
  }
}

/* 以下为全局工具类 */
